// new variables

$first: #113946;
$first-shadow: #044964;
$second: #BCA37F;
$third: #EAD7BB;
$fourth: #FFF2D8;
$fifth: #596FB7;


// SASS code

html {
    scroll-behavior: smooth;
}

body{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;

    #ball-container{
        overflow: hidden;
        width: 98vw;
        height: 650px;
        position: fixed;
        z-index: 1; // Add this line

    
        .ball {
            position: absolute;
            border-radius: 100%;
            opacity: 0.7;


          }
    }
}


nav{
    background-color: $first;
    box-shadow: 0px 1px 1px 0px rgba(188,163,127,1);
    width: 100%;
    height: 2%;
    position: fixed;
    height: 50px;
    width: 100%;
    z-index: 1000; // This ensures the navbar stays on top of other elements
    

    ul{
        display: flex;
        justify-content: flex-end;
        list-style: none;
        padding: 15px 0px;
        margin: 0;

        




    }

    li{

        margin: -3px 5px;
        padding: 3px 0px;
        border-radius: 30px;

        // &:hover{
        //     background-color: $third;
        //     margin: -3px 5px;
        //     padding: 3px 0px;
        //     border-radius: 30px;
    
        //     a{
        //         color: $first;
        //     }
        // }
        
    }

    a{
        color: $third;
        text-decoration: none;
        font-size: 1.3rem;
        margin: 0 20px;
        transition: 0.5s;
        padding-right: 5px;
    }


}


#home{
    display: flex;
    color: $third;
    background-color: $first;
    z-index: 0;
    height: 650px;

    



    .section1 , .section2{
        flex-basis: 50%;
        z-index: 2;
        
    }

    

    .container1{
       font-size: 45px;
       margin: 100px 120px;
       display: flex;
        flex-direction: column;


        @keyframes text-clip {
            from {
              clip-path: polygon(0% 100%, 100% 100%, 100% 100%, 0% 100%);
            }
            to {
              clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
            }
          }
       
          
        @keyframes outer-left {
            from {
                transform: translateX(150%);
            }
            to {
                transform: none;
            }
        }

        @keyframes outer-left-button {
           from {
               transform: translateX(225%);
           }
           to {
               transform: none;
           }
       }

        h1, p {
            margin: 20px 0;
            padding: 0;
            text-shadow: 1px 0px 0 black;
            animation: text-clip 2s ease-out, outer-left 2s 1s cubic-bezier(0.5, 0, 0.1, 1) both;
        }
                   
            

        h1 {
            font-size: 65px;
            font-weight: 700;
            
        }

         

         button{
          
            align-items: center;
            appearance: none;
            background-color: $fourth;
            border: 0;
            border-radius: 6px;
            box-shadow: rgba(255, 255, 255, 0.4) 2px 2px 4px,rgba(45, 35, 66, .3) 0 7px 13px -3px,rgba(58, 65, 111, .5) 0 -3px 0 inset;
            cursor: pointer;
            display: inline-flex;
            font-family: "JetBrains Mono",monospace;
            height: 48px;
            width: 350px;
            justify-content: center;

            margin: 20px 0;
            padding: 0;

            
            a {
                text-decoration: none;
                color: $first;
                font-size: 23px;
                font-weight: bold;
                
            }

              
              
         }

         button.start-animation {
        animation: text-clip 2s ease-out, outer-left-button 2s 1s cubic-bezier(0.5, 0, 0.1, 1) both;
        }

         @keyframes swing {
            15% {
              transform: translateX(5px);
            }
            30% {
              transform: translateX(-5px);
            }
            50% {
              transform: translateX(3px);
            }
            65% {
              transform: translateX(-3px);
            }
            80% {
              transform: translateX(2px);
            }
            100% {
              transform: translateX(0);
            }
          }
         button.move-animation:hover {
                background-color: $third;
                animation: swing 0.8s ease-in-out 1;

            }
     

    }
    
    .container2 {
        
        display: flex;
        justify-content: center;
        align-items: center;

        @keyframes image-in {
          from {
            clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
          }
          to {
            clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
          }
        }
      
        img {
          margin-top: 150px;  
          display: block;
          width: 45%;
          height: auto;
        }

        animation: image-in 3s cubic-bezier(0.5, 0, 0.1, 1) 2s backwards;

      }

    




    


      
}

#run{

height: 50px;
background-color: $first;
    .runner-line{
        position: relative;
               bottom: 280px;

        @keyframes runAnimation {
            0% { left: 0; }
            100% { left: 92%; }
        }
    
        .runner{
            position: absolute;
            transform: scale(0.2);
            animation: runAnimation 6s linear infinite;

            
        
    
            $cycle:0.7;
            $halfCycle: $cycle/2;
            $timming : linear;
            body{background:#123752; height:100%;}
            #robot{
                position:relative;
                height:78vh;width:20vh;
                margin:0 auto;	
                animation: robot $cycle+s infinite ease-in-out;
            z-index:2;
            div{
                position:absolute;
                transform-origin: 50% 0;
            }
            .r div{background:#29516D;}
            .l div{background:#326384;}
            .leg.r, .arm.l{animation:trans $cycle+s $halfCycle+s infinite $timming;}
            .leg.l, .arm.r{animation:trans $cycle+s infinite $timming;}
            .head{
                top:10vh; left:5vh;
                width:9vh; height:10vh;
                margin:0 auto;
                transform-origin:20% 80%;	
                animation: head $cycle+s infinite $timming;
                background:#326384;
            }
            .arm{
                left:5vh; top:20.5vh;
                width:8vh; height:5.5vh;
                div{
                top:100%; left:0;
                width:100%; height:10vh;
                box-sizing:border-box;
                transform:rotate(5deg);
                animation: arms1 $cycle+s infinite $timming;
                div{animation: arms2 $cycle+s infinite $timming;}
                }
                &.l div{animation-delay:-$halfCycle+s;}
            }
            .leg{
                top:45vh;left:5vh;
                width:8vh; height:4vh;
                div{
                width:100%; height:15vh;
                top:100%;	
                animation: legs1 $cycle+s infinite $timming;
                div{ animation: legs2 $cycle+s infinite $timming;}
                }
                &.r div{animation-delay:-$halfCycle+s;}
            }
            }
            .shadow{
            position:relative;
                width:22vh; height:3vh;
                margin:0 auto;
                border-radius:50%;
                background:#05314f;
            animation: shadow $cycle+s infinite $timming;
            z-index:1;
            }
            /************************************************************************************/
            @keyframes robot {
                0%,         50%,    100%  {transform: translateY(0vh) rotate(7deg);}
                15%,    65%  {transform: translateY(-4vh) rotate(5deg);}
            }
            @keyframes head {
                0%, 100% {transform: rotate(-5deg);}
                25%, 75% {transform: rotate(15deg);}
                50%      {transform: rotate(0deg);}
            }
            @keyframes trans {
                0%,100% {transform: translateX(0vh);}
                50%     {transform: translateX(3vh);}
            }
            @keyframes arms1 {
                0%, 100% {transform: rotate(50deg);}
                50%      {transform: rotate(-70deg);}
            }
            @keyframes arms2 {
                0%, 100% {transform: rotate(-5deg);}
                50%      {transform: rotate(-100deg);}
            }
            @keyframes legs1 {
                0%, 100% {transform: rotate(60deg);}
                40%      {transform: rotate(-90deg);}
            }
            @keyframes legs2 {
                0%, 100% {transform: rotate(2deg);}
                33%      {transform: rotate(150deg);}
                50%      {transform: rotate(0deg);}
            }
            @keyframes shadow {
                0%,    50%,    100%  {transform: scale(1.5);}
                25%,    75%       {transform: scale(0.98);}
            }
            
            a{color:#326384;font-family:sans-serif;text-transform:uppercase;display:block;text-align:center;margin:5%;font-weight:bold;}
            }

    }

}

#about{
    display: flex;
    color: $first;
    background-color: $fourth;
    height: 600px;
    margin-bottom: -10px;
    z-index: 2;
    position: relative;



    .section1 , .section2{
        flex-basis: 50%;
        margin: 10px 40px;
        
        
    }

    .section1{

        text-align: center;

        h2{
            font-size: 60px;
            font-weight: 700;
        }

        p{
            font-size: 20px;
            font-weight: 400;
        }

        button{
          
            align-items: center;
            appearance: none;
            background-color: $first;
            border: 0;
            border-radius: 6px;
            box-shadow: rgba(17, 57, 70, 1) 2px 2px 4px,rgba(45, 35, 66, .3) 0 7px 13px -3px,rgba(58, 65, 111, .5) 0 -3px 0 inset;
            cursor: pointer;
            display: inline-flex;
            font-family: "JetBrains Mono",monospace;
            height: 48px;
            width: 350px;
            justify-content: center;
            margin-top: 14px;
            
            a {
                text-decoration: none;
                color: $third;
                font-size: 23px;
                font-weight: bold;
                
            }

            @keyframes swing {
            15% {
              transform: translateX(5px);
            }
            30% {
              transform: translateX(-5px);
            }
            50% {
              transform: translateX(3px);
            }
            65% {
              transform: translateX(-3px);
            }
            80% {
              transform: translateX(2px);
            }
            100% {
              transform: translateX(0);
            }
          }
            
            &:hover {
                background-color: $first-shadow;
                animation: swing 0.8s ease-in-out 1;

                a{
                    color: $third;
                }
            }


         }
        


    }

    .section2 {
        text-align: center;

        h2{
            font-size: 60px;
            font-weight: 700;
        }

        .container1{
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            grid-template-rows: repeat(3, 1fr);
            gap: 15px;
            column-gap: 0px;
            
            

            .skill{
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                padding: 0 10px;
                

                //text

                font-size: 20px;
                font-weight: 400;


                img{
                    width: 80px;
                    height: 80px;
                    margin: 0;
                    margin-bottom: 5px;
                    padding: 0;

                    transition: transform 0.3s ease-in-out;

                    &:hover {
                    transform: scale(1.15);
                    }


                }

                .bootstrap-logo{
                    width: 68px;
                    height: 58px;
                    margin-top: 2px;
                    padding-bottom: 3px;

                }

                .nextjs-logo{
                    height: 78px;
                    width: 78px;
                }
    
    
            }

            

            

        }




    }

}

#projects{

    background-color: $first;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: $third;
    padding-top: 70px;
    padding-bottom: 30px;
    margin: 0;
    text-shadow: 1px 0px 0 black;

    #ball-container1{
        overflow: hidden;
        width: 98vw;
        height: 100vw;
        position: absolute;
        z-index: 2; // Add this line

    
        .ball {
            position: absolute;
            border-radius: 100%;
            opacity: 0.7;


          }
    }

    #ball-container2{
        overflow: hidden;
        width: 98vw;
        height: 100vw;
        position: absolute;
        z-index: 2; // Add this line

    
        .ball {
            position: absolute;
            border-radius: 100%;
            opacity: 0.7;


          }
    }

    .container1, .container2{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 0;
        z-index: 1;
    }

    .container1{

        padding: 0;
        width: 90%;
        h1{
            font-size: 50px;
            font-weight: 700;
            margin: 0;
            padding: 0;
        }

        p{
            font-size: 22px;
            font-weight: 400;
            margin-top: 25px;
            margin-bottom: 0;
            padding: 0;
        }
        small {
            align-self: flex-start;
            font-size: 17px;
            color: $second;
            margin-top: 15px;
        }

        ul{
            display: flex;
            flex-direction: row;
            align-self: flex-start;
            justify-content: flex-start;

            li{
                text-align: center;
                align-self: flex-start;
                margin: 0 20px;
                padding: 4px 6px;
                
                background-color: grey;
                list-style-type: none; // Add this
            }
        }




    }

    .container2{
        
        width: 90%;

        .project{

            display: flex;
            margin: 30px 0;

            .project-description{
                flex-basis: 65%;
                margin-right: 40px;
                
        
        
                h3{
                    font-size: 22px;
                    font-weight: 400;
                    margin: 10px 0;
                    padding: 0;
                    color: $second;
                }
        
                h2{
                    
                    font-size: 30px;
                    font-weight: 700;
                    margin: 5px 0;
                    padding: 0;
                }
        
                p{
                    font-size: 20px;
                    font-weight: 400;
                    margin: 15px 0;
                    padding: 0;
                }
        
                button{
                    align-items: center;
                    appearance: none;
                    background-color: $fourth;
                    border: 0;
                    border-radius: 6px;
                    box-shadow: rgba(255, 255, 255, 0.4) 2px 2px 4px,rgba(45, 35, 66, .3) 0 7px 13px -3px,rgba(58, 65, 111, .5) 0 -3px 0 inset;
                    cursor: pointer;
                    display: inline-flex;
                    font-family: "JetBrains Mono",monospace;
                    height: 48px;
                    width: 100px;
                    justify-content: center;
                    
                    margin-right: 25px;
                    
                    
                    &:hover {
                        background-color: $third;
                    }
        
                    a {
                        text-decoration: none;
                        color: $first;
                        font-size: 23px;
                        font-weight: bold;
                        
                    }
                }
            }
        
            .project-image{
                flex-basis: 35%;
                display: flex;
                justify-content: center;
                align-items: center;
                margin: 0;
                padding: 0;
        
                img{
                    height: 300px;
                    width: 400px;
                }
            }
        }
    

    }


}

#contact-me{

    background-color: $third;
    color: $first;
    padding-bottom: 70px;
    position: relative;
    z-index: 2;


    .container1{
        
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 35px;
        margin: 0;
    }

    h1{
        width: 80%;
        text-align: center;
        font-size: 50px;
        font-weight: 700;
        margin: 0;
        padding: 0;
    }

    p{
        width: 80%;
        text-align: center;
        font-size: 22px;
        font-weight: 400;
        margin-top: 50px;
        margin-bottom: 5px;
        padding: 0;
    }

    button{

        align-items: center;
        appearance: none;
        background-color: $first;
        border: 0;
        border-radius: 6px;
        box-shadow: rgba(17, 57, 70, 1) 2px 2px 4px,rgba(45, 35, 66, .3) 0 7px 13px -3px,rgba(58, 65, 111, .5) 0 -3px 0 inset;
        cursor: pointer;
        display: inline-flex;
        font-family: "JetBrains Mono",monospace;
        height: 35px;
        width: 250px;
        justify-content: center;
        
        margin-right: 25px;
        margin-top: 40px;
        

        @keyframes swing {
          15% {
            transform: translateX(5px);
          }
          30% {
            transform: translateX(-5px);
          }
          50% {
            transform: translateX(3px);
          }
          65% {
            transform: translateX(-3px);
          }
          80% {
            transform: translateX(2px);
          }
          100% {
            transform: translateX(0);
          }
        }
        
        &:hover {
            background-color: $first-shadow;
            animation: swing 0.8s ease-in-out 1;
        }

        

        a {
            text-decoration: none;
            color: $first;
            font-size: 23px;
            font-weight: bold;
            color: $third;
            
        }


        
  
    
    }


}
   


footer{
    background-color: $first;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: $third;
    padding-top: 35px;
    text-shadow: 1px 0px 0 black;

    h1{
        font-size: 20px;
        font-weight: 700;
        margin: 0;
        padding: 0;
        z-index: 2;
        position: relative;
    }

    .container-buttons{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        margin: 15px 0;
        z-index: 2;
        position: relative;

        .button-linkedin {
            height: 40px;
            width: 40px;
            padding: 0; // Remove padding
            border: none; // Remove border
            background: none; // Remove background
            margin-right: 10px;

            img {
                height: 100%; // Make the image take up the full height of the button
                width: 100%; // Make the image take up the full width of the button
                object-fit: cover; // Make the image cover the full area of the button
            }
        }

        .button-github {
            height: 40px;
            width: 40px;
            padding: 0; // Remove padding
            border: none; // Remove border
            background: none; // Remove background
            margin-top: -5px;

            

            img {
                height: 45px; // Make the image take up the full height of the button
                width: 45px; // Make the image take up the full width of the button
                object-fit: cover; // Make the image cover the full area of the button
            }
        }
    }

    p{
        font-size: 15px;
        font-weight: 400;
        margin-top: 10px;
        margin-bottom: 20px;
        padding: 0;

        z-index: 2;
        position: relative;
    }

    
    
    
}

