%flex-layout {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
}
// @extend is similar to @mixin, but without the need to pass arguments.
// it is complied in css into a different way than @mixin. -> min.3:40

.navbar {
  @extend %flex-layout; // this will apply the %flex-layout to the navbar class
  padding: $base-padding $base-padding * 2;
  box-shadow: $base-box-shadow;
  .site-title {
    font-size: $font-size-lg;
  }
  .container {
    @extend %flex-layout;
  }
}

@each $key, $val in $colors {
  .navbar-#{$key} {
    @extend .navbar;
    background-color: $val;
  }
}
